<strong> Olá, {{student }}</strong>
<p>Seu pedido de auxilio foi respondido.</p>
<p>
  <strong>Auxilio: </strong> {{ question }} <br/>
  <br/>
  <strong>Resposta: </strong> {{ answer }} <br/>

  <br />
  <small>
    Se houver algo mais que possamos ajudá-lo, só entrar em contato conosco.
  </small>
</p>
